{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <div class="container bg-light p-4">
        <h1 class="pb-4">{% trans 'contracts' %}</h1>

        {% for c in contract_list %}
            <div class="row pb-1">
                <div class="card text-center col" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ c.title }}</h5>
                        <a class="btn btn-primary" href="{% url 'college:contract_details' id=c.id %}">start new
                            contract</a>
                    </div>
                </div>
            </div>
        {% endfor %}


        {% if is_paginated %}

            <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
            </div>

        {% endif %}

    </div>

{% endblock %}